*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/fontawesome-pro-7.3.1-web/*
!/public/fontawesome-pro-7.3.1-web/css
!/public/fontawesome-pro-7.3.1-web/webfonts
!/public/fontawesome-pro-7.3.1-web/LICENSE.txt
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
